aioredis==1.0.0
asgiref==2.1.5
async-timeout==2.0.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
channels==2.0.2
channels-redis==2.0.3
colorama==0.3.9
constantly==15.1.0
daphne==2.0.3
Django==2.0.2
hiredis==0.2.0
hyperlink==17.3.1
incremental==17.5.0
msgpack==0.5.4
pluggy==0.6.0
py==1.5.2
pypiwin32==220
pytest==3.4.0
pytest-asyncio==0.8.0
pytest-django==3.1.2
pytz==2018.3
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
zope.interface==4.4.3
