{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 justify-content-center">
                <h4 class="display-4">{{ title }}</h4>
                <hr style="border-color: black"/>
                <p style="text-align: center">
                    <button onclick="raiseHand()" class="btn btn-primary btn-lg mt-3">Raise Hand</button>
                </p>
                <p style="text-align: center">
                    <button onclick="lowerHand()" class="btn btn-primary btn-lg">Lower Hand</button>
                </p>
            </div>
        </div>

        {# Modal content is hidden on pageload, pops when wss event happens. #}
        <div class="modal fade" id="handsDown" tabindex="-1" role="dialog" aria-labelledby="handsDown"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="handsDown">New Topic</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        The professor has lowered everyone's hand, discussion begins anew!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        {# mmmm... reconnecting websocket.... #}
        var socket = new ReconnectingWebSocket("wss://joshharkema.com:8001/websocket/");

        {# Join the class. #}
        socket.onopen = function () {
            socket.send(JSON.stringify({
                "command": "join",
                "class_id": "{{ class_number }}",
                "student_name": "{{ student_name }}"
            }));
            console.log("Sending string.")
        };

        {# Deal with incoming messages. #}
        socket.onmessage = function (message) {
            console.log("Got websocket message " + message.data);

            var data = JSON.parse(message.data);

            {# Alert errors. #}
            if (data.error) {
                alert(data.error);
                return;
            }

            {# Pop snazzy modal when the topic is reset. #}
            if (data["msg_type"] === 1) {
                $('#handsDown').modal()
            }
        };

        {# Raise your hand. #}

        function raiseHand() {
            console.log({{ student_id }});
            socket.send(JSON.stringify({
                "command": "raise",
                "class_id": "{{ class_number }}",
                "student_name": "{{ student_id }}"
            }))
        }

        {# Lower your hand. #}

        function lowerHand() {
            socket.send(JSON.stringify({
                "command": "lower",
                "class_id": "{{ class_number }}",
                "student_name": "{{ student_id }}"
            }))
        }

    </script>
{% endblock %}