{% extends 'layout.html' %}

{% block content %}

{% endblock %}

{% block scripts %}
<script>
    var socket = new WebSocket("ws://127.0.0.1:8000/websocket/");

    socket.onopen = function () {
        socket.send(JSON.stringify({
            "command": "join",
            "class_id": "{{ class_number }}",
            "student_name": "{{ student_name }}"
        }));
        console.log("Sending string.")
    };

    socket.onmessage = function (ev) {
        alert(ev.data);
    }


</script>
{% endblock %}