{% extends 'layout.html' %}

{% block content %}
    <!--suppress ALL, JSUnfilteredForInLoop, JSUnusedLocalSymbols -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-centered">
                <h4 class="presentation-4">{{ title }}</h4>
                <hr style="border-color: black"/>
                <p class="lead">Class Number: {{ class_number }}</p>
                <p>
                    <button class="btn btn-primary" onclick="clearTable()">Clear Hands</button>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11 col-centered">
                <table id="class" class="table table-bordered" cellspacing="0" width="100%">
                </table>
                <p class="mt-3" style="text-align: right">
                    <a href="class/report?class_id={{ class_number }}">
                        <button class="btn btn-danger">End Class &raquo;</button>
                    </a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-centered mt-3">
                <p>
                    <strong>Note:</strong> Lower scores represent how long it's been since a student was last
                    acknowledged. A score of 1.0 represents the last speaker, a score of 0.0 represents a student who
                    hasn't yet spoken or hasn't spoken for long enough for their score to return to 0.0. Each time a
                    student is acknowledged all other students have their scores reduced by 10%.
                </p>
                <p>
                    <strong>Email Reports:</strong> email reports are automatically sent when the class is ended.
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!--suppress JSUnresolvedLibraryURL -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

    <script>
        var socket = new WebSocket("ws://127.0.0.1:8000/websocket/");

        {# Stores the table data (empty upon initial instantiation) #}
        var dataSet = [];

        {# Draw the empty table for first run #}
        var table = $('#class').DataTable({
            bFilter: false,
            bInfo: false,
            bPaginate: false,
            data: dataSet,
            columns: [
                {title: "Name"},
                {title: "Score"},
                {title: ""}
            ]
        });

        {# Clear the table, function initiates a reset of all the student's hand states #}
        function clearTable() {
            dataSet = [];

            {# Kill the table #}
            table.destroy();

            {# Send the reset command #}
            socket.send(JSON.stringify({
                "command": "clear-hands",
                "class_id": "{{ class_number }}"
            }));

            {# I wish there was a way I could do it without wiping the table every time, but there isn't. #}
            table = $('#class').DataTable({
                bFilter: false,
                bInfo: false,
                bPaginate: false,
                data: dataSet,
                columns: [
                    {title: "Name"},
                    {title: "Score"},
                    {title: ""}
                ]
            });
        }

        {# Acknowledge a student #}
        function acknowledge(student) {
            student = String(student);
            socket.send(JSON.stringify({
                "command": "acknowledge",
                "class_id": "{{ class_number }}",
                "student_name": student
            }));

        }

        {# Connect to the class after opening socket. #}
        socket.onopen = function (ev) {
            console.log("Connection to websocket opened.");
            socket.send(JSON.stringify({
                "command": "join-prof",
                "class_id": "{{ class_number }}"
            }));
        };

        {# Deal with the incoming messages. #}
        socket.onmessage = function (message) {
            console.log("Got websocket message " + message.data);

            {# Parse the data into a JSON object #}
            var data = JSON.parse(message.data);

            {# Alert any errors #}
            if (data.error) {
                alert(data.error);
                return;
            }

            {# Redraw the table everytime event type 2 happens #}
            if (data["msg_type"] === 2) {
                table.destroy();
                dataSet = [];

                for (var key in data["user_list"]) {

                    {# Create the HTML for the button links #}
                    var link_text = String("<button class='btn button-primary' onclick='acknowledge(" +
                        data["user_list"][key][1] + ")'><span class=\"oi oi-check\"></span></button>");

                    {# Push the data into the dataSet #}
                    dataSet.push([key, data["user_list"][key][0], link_text]);
                }

                {# Instantiate new table #}
                table = $('#class').DataTable({
                    bFilter: false,
                    bInfo: false,
                    bPaginate: false,
                    data: dataSet,
                    columns: [
                        {title: "Name"},
                        {title: "Score"},
                        {title: ""}
                    ]
                });

                {# Draw the table #}
                table.draw();
            }
        }
    </script>
{% endblock %}