{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-centered">
                <h4 class="presentation-4">{{ title }}</h4>
                <hr style="border-color: black"/>
                <p class="lead">Class Number: {{ class_number }}</p>
                <p>
                    <button class="btn btn-primary" onclick="clearTable()">Clear Hands</button>
                </p>

                <div id="student_list">
                    <table id="class" class="table table-bordered" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

    <script>
        var socket = new WebSocket("ws://127.0.0.1:8000/websocket/");
        var dataSet = [];
        var table = $('#class').DataTable({
            bFilter: false,
            bInfo: false,
            bPaginate: false,
            data: dataSet,
            columns: [
                {title: "Name"},
                {title: "Modifier"},
                {title: ""}
            ]
        });

        function clearTable() {
            dataSet = [];
            socket.send(JSON.stringify({"command": "clear-hands", "class_id": "{{ class_number }}"}));
        }

        {# Connect to the class after opening socket. #}
        socket.onopen = function (ev) {
            console.log("Connection to websocket opened.");
            socket.send(JSON.stringify({"command": "join-prof", "class_id": "{{ class_number }}"}));
        };

        {# Deal with the incoming messages. #}
        socket.onmessage = function (message) {
            console.log("Got websocket message " + message.data);

            var data = JSON.parse(message.data);

            if (data.error) {
                alert(data.error);
                return;
            }

            if (data["msg_type"] === 2) {
                table.destroy();
                dataSet = [];

                for (var key in data["user_list"]) {
                    dataSet.push([key, data["user_list"][key], " MAKE BUTTON"]);
                    console.log(dataSet);
                }

                table = $('#class').DataTable({
                    bFilter: false,
                    bInfo: false,
                    bPaginate: false,
                    data: dataSet,
                    columns: [
                        {title: "Name"},
                        {title: "Modifier"},
                        {title: ""}
                    ]
                });

                table.draw();
                console.log("Table redrawn?")
            }
        }
    </script>
{% endblock %}