<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="author" content="Josh Harkema">

    <title>{{ title }}</title>

    <button onclick="sendMyMessages()">Test</button>

</head>

<body>
</body>

<script>
    var socket = new WebSocket("ws://127.0.0.1:8000/student-socket/");

    socket.onopen = function () {
        socket.send("Test");
        alert("Connection opened...");
    };

    function sendMyMessages() {
        socket.send("Hi from the client.");

    }

</script>